###### Python version (3.11.5)) ######
###### Requirements without Version Specifiers ######
numpy
matplotlib
scipy
scikit-learn
seaborn
###### Requirements with Version Specifiers ######
# numpy == 1.26.0
# matplotlib == 3.8.0
# scipy == 1.11.3